# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
xcshareddata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

#Certificate
*.mobileprovision
*.p12

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
android/app/newrelic.properties
.project
bin

# node.js
#
node_modules/
npm-debug.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

package-lock.json
yarn-error.log
#TEST
coverage/
cache/
google-services.json
GoogleService-Info.plist
.vscode

.env*
!.env*.enc

#vscode
jsconfig.json
